<span class="radioclass">Show : </span>

<input  name="options" type="radio" value="All"  [(ngModel)]  = "selectedRadioButtonValue" (ngModelChange) ="onRadioButtonSelectionChange()"/>
<span class=" radioclass"> {{'All(' + all +')'}}</span>

<input name="options" type="radio" value="Female"  [(ngModel)]  = "selectedRadioButtonValue" (ngModelChange) ="onRadioButtonSelectionChange()"/>
<span class=" radioclass"> {{'Female(' + female +')'}}</span>


<input name="options" type="radio" value="Male"  [(ngModel)]  = "selectedRadioButtonValue" (ngModelChange) ="onRadioButtonSelectionChange()"/>
<span class=" radioclass"> {{'Male(' + male +')'}}</span>


       